# Copyright (c) 2026 Nikolay Govorov
# SPDX-License-Identifier: AGPL-3.0-or-later

/dev
/build
/.task
mise.local.toml
mise.*.local.toml
cmd/mirum-server/static
cmd/mirum-server/web/node_modules

# zig build artifacts
.zig-cache/
zig-out/
zig-pkg/

# grpc generated code
/internal/protocol/wirepb
/cmd/mirum-server/apipb
/cmd/mirum-server/web/gen
