# Copyright (c) 2026 Nikolay Govorov
# SPDX-License-Identifier: AGPL-3.0-or-later

/dev
/build
/.task
cmd/mirum-server/static
cmd/mirum-server/web/node_modules

# grpc generated code
/internal/protocol/wirepb
/cmd/mirum-server/apipb
/cmd/mirum-server/web/gen
